.active{
    background-color: rgb(255, 255, 255);
    color: blue;
    font-weight: 500;
    height: 7vh;
}

.navv {
    z-index: 5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #0f172a; */ 
    position: sticky; 
    top: 0;
    width: 100%;
    height: fit-content;
    z-index: 999;
    margin: 30px 0px;
    /* border: 2px solid black; */
    
}
nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    width: 100vw;
    padding-left:0;
    margin: 0;
}

nav ul li {
   list-style: none; 
   background-color: rgb(42, 42, 255); 
   width: 20%;
   text-align: center;
   padding:1vmin;
   font-size: 3vmin;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
    background-color:#0234e7cd ;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #f9ffff;
    border-radius: 0.2rem;
}


@media (max-width: 1110px) {
    nav .menu {
        display: flex;
        background-color: white;
        border-radius: 9px;
        color: white;
        border: 2px solid black;
        padding: 1vmin;
        position: fixed;
        top: 3;
        height: 25px;
        width: 25px;
        right: 3;
    }

    nav .menu span{
        background-color: black;
        height: 3px;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }


    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
        height:6vh;
        position: fixed;
        top: 0;
    }

    nav ul.open {
        display: flex;
        z-index: 999;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}