
.nav-list{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap:2px;
    margin:0;
    padding: 0;
    margin-top:3px
}

.nav-list li{
    /* border: 2px solid black; */
    padding: 2px;
    width: 20%;
    text-align: center;
    background-color: rgb(97, 97, 99);
    font-weight: bold;
    font-size: 1.5vw;
    color:white
}