.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:2px;
    margin-top:1vmin
}
.content_intro{
    margin-left: 2px;
    height: max-content;
}
.content_intro h1{
    text-align: center;
}
.content_intro h3{
   font-size:1.5vw;
   margin-left:1vmin
}
.pic img{
    width:40vw;
}
@media only screen and (max-width: 750px) {
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap:2px;
        margin-top:1vmin
    }
    .pic img{
        width:100vw;
    }
    .content_intro h3{
       font-size:3vmin;
       margin-left:1vmin
    }
  }