.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    width: 90%;
    margin: 7vmin auto;
}

.whole {
    margin-top: 40px;
    margin-bottom: 70px;
}

.container-container {
    display: flex;
}

.intro-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width:98vw
}

.intro-content {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.intro-image {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30em;
    margin: 40px;
}
.intro-image img{
    height:100%;
    width:100%;
}


.content_intro h3 {
    text-align: center;
    font-size: 8vmin;
}

.content_intro p {
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.6;
    text-align: justify;
}

.pic img {
    width: 40vw;
}

.vis_con div {
    background-color: rgb(24, 119, 229);
}

.vis_con div h2 {
    color: rgb(0, 0, 82);
}

.vis_con div p {
    color: rgb(238, 238, 255);
}

.viss h1 {
    font-size: 2.5em;
    text-align: center;
    width: 100%;
    animation: animate 1.5s linear infinite;
    color: rgb(95, 0, 248);
    margin:0
}

.vis_con {
    width: 95%;
    margin: auto;
    max-width: 98vw;
}
.vis_con Card{
    max-width: 98vw;
    margin:2px
}
.inaug {
    color: rgb(255, 13, 13);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: animate 1.5s linear infinite;
}

.inaug2 {
    background-color: rgb(184, 211, 240);
    margin-top: 2vmin
}

.pics {
    display: flex;
    justify-content: space-between;
    gap: 2vmin
}

.pics img {
    width: 30vw;
    border: 2px solid black;
    margin-right: 1vmin;
}
@media only screen and (max-width: 770px) {
    .intro-image img{
        height:50%
    }
}

@media only screen and (max-width: 650px) {

    .intro-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2px;
        align-items: center;
    }
    .intro-image{
        width:92vw;
        height: 10em;
        margin: 10px;
    }
    .intro-image img{
        width:90vw;
        height: 100%;
    }

    .pic img {
        width: 100%;
    }
    
    .content_intro {
        width: 98vw
    }
    .intro-content{
        width:98vw
    }
    .intro-content h3 {
        font-size: 6vmin;
        margin:0;
        margin-bottom: 2vmin;
    }

    .intro-content p {
        font-size: 3vmin;
        margin:0;
    }

    .viss h1 {
        font-size: 6vmin;
    }

    .pics img {
        width: 70vw
    }
}