.head {
  width: 100vw;
  min-height: 4rem;
  margin: 0;
  color: black;
  padding: 0;
  background-color: white;
}
.head-inside {
  height: max-content;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
  margin-left: 0;
}
.content {
  height: 95%;
  width: 75%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid white; */
  align-items: center;
  justify-content: center;
  margin-left: 4vmin;
}
.dept {
  font-size: 3.5vmin;
  margin-bottom: 0;
  color: rgb(0, 0, 0);
  text-align: center;
  /* border:2px solid black; */
  padding:0
}
.clg {
  font-size: 3vmin;
  /* border:2px solid black; */
  padding:0;
  height:40%;
}
.clg h3{
  text-align: center;
}
.logo_jiit img {
  height: 220px;
}
.logo_jiit {
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: flex-start;
  margin-left: 4vmin;
}
.clg_web{
    color: rgb(0, 0, 0);
    font-size: 1.3em;
    font-weight: bold;
}
.main_page{
    color:rgb(0, 0, 0);
    justify-self: flex-end;
    margin:0;
    margin-bottom: 1vmin;
}

@media only screen and (max-width: 750px) {
  .head-inside {
    height: max-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0;
  }

  .logo_jiit img {
    height: 30vmin;
    margin-top:3vmin
  }
  .dept {
    font-size: 3.5vmin;
    margin-bottom: 0;
    color: rgb(0, 0, 0);
    padding:0;
    text-align: center;
    width:100%
  }
  .clg {
    font-size: 3.5vmin;
    padding:0;
    height:40%;
    text-align: center;
    margin:0;
    width:100%
  }
  .clg_web{
    font-size: 1em;
  }
}