.equipment-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.hardware, .software {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hardware-content, .software-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.entry {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entry-image {
  width: 100%;
  height: 200px; 
  object-fit: cover;
}

.entry-heading {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.entry-content {
  font-size: 14px;
  padding: 10px;
  text-align: center;
}

.hardware_heading, .software_heading {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hardware_heading {
  border-bottom: 2px solid #ccc;
  font-size: 40px;
}

.software_heading {
  border-bottom: 2px solid #ccc;
  font-size: 40px;
}

.entry-heading {
  font-size: 27px;
  font-weight: bold;
  color: #333;
  padding: 10px;
  text-align: center;
}

.entry-content {
  font-size: 16px;
  color: #666;
  padding: 10px;
  text-align: center;
}

