.msg{
    padding:3vmin
}
.msg h1{
    text-align: center;
}
.dean{
    display: flex;
    justify-content: center;
}
.dean img{
    height:30vmin;
    width:30vmin;
    border-radius: 50%;
    margin:1vmin
}